.filterItem {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    font-weight: 600;
    padding: 3px 5px;
    margin-right: 5px;
    cursor: pointer;
}

.selected{
    color: white;
    background-color: black;
}


.imageContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: 990px;
    
    
}

.image {
    margin: 10px;
    
}